       <!-- IMPORTANTE PARA LINKEAR FORMATO DE CSS-->
       {% load static %}
       <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
   <!-- IMPORTANTE PARA LINKEAR FORMATO DE CSS-->
  
  
  <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container px-4 px-lg-5">
       
            <a class="navbar-brand" href="{% url 'RubrosURL' %}">Rubros</a>
       
            <a class="navbar-brand" href="{% url 'ProductosURL' %}">Productos</a>
                 
            <a class="navbar-brand" href="{% url 'ProveedoresURL' %}">Proveedores</a>
       
            <a class="navbar-brand" href="{% url 'ClientesURL' %}">Clientes</a>
      
            <a class="navbar-brand" href="{% url 'PedidosURL' %}">Pedido</a>

            
        </div>
    </nav>
