   <!-- IMPORTANTE PARA LINKEAR FORMATO DE CSS-->
       {% load static %}
       <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
   <!-- IMPORTANTE PARA LINKEAR FORMATO DE CSS-->
   
        
        
        
        <!-- Contact-->
        <section class="contact-section bg-black">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fab fa-github text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">GitHub</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50"><a href="https://github.com/fmargarit/Tercera-pre-entrega_MARGARIT">https://github.com/fmargarit/Tercera-pre-entrega_MARGARIT</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50"><a href="mailto:fernando.margarit@gmail.com">fernando.margarit@gmail.com</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Phone</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">+54 (11) 6450-0477</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
